<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a Post</title>
</head>
<body>

<h1> This Will be a create form</h1>

<form method="POST" action="/posts/create">

    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Enter a title">

    <label for="body">Body</label>
    <textarea id="body" name="body" placeholder="Enter a post"></textarea>

    <label for="user_id">User Id</label>
    <textarea id="user_id" name="user_id" placeholder="user_id"></textarea>

    <button type="submit">Submit Post</button>


</form>
</body>
</html>